@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  color: #684a4a;
  font-family: "Montserrat", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input {
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
}

.header {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.header__title {
  display: inline-block;
  margin: 1rem;
}
.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
}

.options {
  flex: 0 0 260px;
  /* flex!!! */
  background-color: #684a4a40;
  height: 220px;
  /* height!!! */
  border-radius: 20px 0;
  border: 2px solid #684a4a;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.options__sorting > p {
  font-size: 20px;
}

.options__sorting-radio,
.options__label {
  cursor: pointer;
  user-select: none;
}
.options__search {
  border-radius: 5px;
  border: 2px solid #684a4a50;
}

.friends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user {
  flex: 0 1 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1%;
  background-color: #684a4a40;
  border: 2px solid #684a4a;
  border-radius: 20px 0px;
  padding: 0.4rem 0px;
}
.user__photo {
  width: 100px;
  height: 100px;
  border-radius: 20px 0px;
  border: 1px solid #684a4a;
  margin: 0.6rem;
}
.user__info {
  margin-bottom: 0.5rem;
  text-align: center;
}
.user__name {
  text-align: center;
  margin-bottom: 0.6rem;
  color: rgb(124, 101, 0);
  font-weight: 800;
}
@media (max-width: 850px) {
  .user {
    flex: 0 1 48%;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .options {
    flex: 0 0 220px;
    /* px!!! */
  }
  .user {
    flex: 0 1 31%;
  }
}
@media (max-width: 620px) {
  .user {
    flex: 0 1 48%;
  }
}
@media (max-width: 400px) {
  .user {
    font-size: 14px;
  }
}
